
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tugay ÜNER 2018 ® SignalR Chat Application</title>
    <style>
        .other {
        color:mediumslateblue;
        }
        .caller {
            color:greenyellow;
        }
        /*Tugay ÜNER 2018 ®*/
    </style>
</head>
<body>
    <h1 id="titleName"></h1>
    <input type="text" id="txtMessage" />
    <br />
    <button id="btnSend">Send Message</button>
    <hr />
    <ul id="chatList"></ul>

    <script src="~/scripts/jquery-1.6.4.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.1.js"></script>
    <script src="/signalr/hubs"></script>
</body>
</html>
<script>    
    $(document).ready(function () {
        var name = prompt("Kullanici Adini Giriniz");
        $("#titleName").html("Hosgeldiniz " + name);

        $.connection.hub.start();   
        var chat = $.connection.chatHub; 

        chat.client.getMessageOther = function (name, message) {
            $("#chatList").append("<li class='other'>" + name + ":" + message + "</li>");
        };

        chat.client.getMessageCaller = function (message) {
            $("#chatList").append("<li class='caller'>" + message + "</li>");
        };

        $("#btnSend").click(function () {
            var message = $("#txtMessage").val();
            chat.server.sendMessage(name, message);
            $("#txtMessage").val();
        });

    });
</script>